<body>
<div class="main-theatre jumbotron" >
<h1 id="main-heading" >Dont Just Find A Sponsor, Dont Just be a Sponsor, Build a Relationship</h1>
<%=link_to 'I\'m a Sponsee', new_user_registration_path(:q => 'sponsee'), class: 'sponsee btn btn-primary' %>
<%=link_to 'I\'m a Sponsor', new_user_registration_path(:q => 'sponsor'), class: 'sponsor btn btn-primary' %>
</div>
</body>
