<body><%=link_to 'I\'m a Sponsee', new_user_registration_path(:q => 'sponsee'), class: 'sponsee btn btn-primary' %>
<%=link_to 'I\'m a Sponsor', new_user_registration_path(:q => 'sponsor'), class: 'sponsor btn btn-primary' %>
</br>
<%if user_signed_in? %>
<%=link_to 'Log out', user_registration_path,  method: :delete, data: { confirm: 'Are you sure?' } %>
<%else%>
<%=link_to 'Log In',  new_user_session_path %> 
<%end %>
</body>
