// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}
.sponsor {
  position: relative;
  top: 250px;
  left: 550px;

}

.sponsee {
   position: relative;
   top: 250px;
   left: 500px;
}
