// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-theatre {
  margin-bottom: 0px;
  padding: 100px;
  padding-bottom: 20%;
  background-color: #f2f2f2;
}

#main-heading {
  font-family: 'Source Serif Pro', serif;
  padding-bottom: 50px;
}

.sponsee-link {
   position: relative;
   left: 350px;
}

.sponsor-link {
  position: relative;
  left: 400px;
}

hr {
  color: black;
}


.promise-heading {
  position: relative;
  left: 40%; 
  font-family: 'Vollkorn', serif;
  font-weight: 700;
}

.sponsor-promise-box {
  padding: 100px;
  padding-top: 0px;
  background-color: DarkCyan; 

}

.sponsee-promise-box {
  padding: 100px;
  padding-top: 0px;
  background-color: #f2f2f2;
  
}
